// Fuentes
$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria: 'Roboto', cursive;

// Tamaño de Media Queries
$tel: 480px;
$tab: 768px;
$pc: 1024px;
$pcxl: 1200px;

// Colores
$primario: #3b4862;

$negro: #000;
$blanco: #FFFFFF;
$gris: #eeefed;
$grisClaro: #f8f8f8;